<!DOCTYPE html>
<html lang="chs">
<head>
    <meta charset="UTF-8">
    <title>待办事项</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div id="todo-app">
    <header>
        <section>
            <div class="header-form-container">
                <label for="input_item">待办事项</label>
                <input type="text" id="input_item" name="input_item"
                       v-model.trim="newTodoText"
                       @keyup.13="addNewItem"
                       placeholder="添加事项" required>
            </div>
        </section>
    </header>

    <div class="content">
        <h2>未完成 <span id="todocount"></span></h2>
        <ol id="todolist">
            <li v-for="(item, index) in todos"
                v-if="!item.finish"
                v-bind:key="item.id"
                v-bind:title="item.title"

            >
                <section @click="checkItem(index)">
                    <input type="checkbox" v-bind:checked="item.finish">
                    <p class="item-content">{{item.title}}</p>
                </section>
                <span>Del</span>
                <span>Edit</span>
            </li>
        </ol>

        <h2>已完成 <span id="donecount"></span></h2>
        <ol id="donelist">
            <li v-for="(item, index) in todos"
                v-if="item.finish"
                v-bind:key="item.id"
                v-bind:title="item.title"
            >
                <section @click="checkItem(index)">
                    <input type="checkbox" v-bind:checked="item.finish">
                    <p class="item-content">{{item.title}}</p>
                </section>
                <span>Del</span>
                <span>Edit</span>
            </li>
        </ol>
    </div>

    <div id="clear">
        <!--span stype="white-space:pre;"></span-->
        <button id="clear-btn">全部清除</button>
    </div>
</div>

<script>
    vue = new Vue({
        el: '#todo-app',
        data: {
            newTodoText: '',
            todos: [
                { id:0, finish:false, title:'发送邮件', comment:'21721093@zju.edu.cn'},
                { id:1, finish:false, title:'读论文', comment:'S-E networks'},
                { id:2, finish:true, title:'买水果', comment:''},
            ],
            nextTodoId: 4
        },
        methods: {
            addNewItem: function(){
                this.todos.push({
                    id: this.nextTodoId++,
                    finish: false,
                    title: this.newTodoText
                })
                // console.log("add new item")
            },
            checkItem: function(item_index){
                console.log("check", item_index)
                this.todos[item_index].finish = !this.todos[item_index].finish
            }
        }

    })
</script>

</body>
</html>